p,
ul,
li {
  font-style: normal;
  font-weight: 100;
  color: #F6FCDF;
}


.roboto {
  font-family: 'Roboto', sans-serif;
}

.ftg{
  font-family: "Fredericka the Great", sans-serif;
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.size20{
  font-size: 20px;
}

a {
  font-weight: 400;
  font-style: normal;
  color: #F6FCDF;
  text-decoration: none;
}

.fcl {
  font-family: "Fredericka the Great", sans-serif;
}

html,
body {
  background-color: #393939;
  /* Dark background */
  color: #F6FCDF;
  /* Light text */
}

h1 {
  font-family: "Fredericka the Great", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2,
h3,
h4,
h5 {
  font-family: "Fredericka the Great", sans-serif;
  font-style: normal;
}

a {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}


footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #393939;
  padding: px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  border: 1px solid #F6FCDF;
  font-family: "Fredericka the Great", serif;
  text-align: center;
}

tr {
  border: 1px solid #F6FCDF;
  font-family: "Fredericka the Great", serif;
  text-align: left;
  padding: 0px;
}

.lfalign {
  text-align: left;
}